<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="import::style"></head>
    <title>详情</title>
    <link rel="stylesheet" href="/editormd/css/editormd.preview.css">
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>
    <script src="/editormd/editormd.js"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
                editormd.markdownToHTML("article-view", {});
        });
    </script>
    <script src="/js/comment.js"></script>
    <link rel="stylesheet" href="/css/mycss.css">
    <script src="/js/my.js"></script>
</head>
<body class="ecommerce">
<div th:replace="import::head"></div>
<div class="page-container" style="padding: 0px">
    <div class="portlet light " style="padding: 30px 200px 15px 230px">
        <div class="row">
            <div class="col-md-12 article-block">
                <span style="margin-top:0;font-size: 30px" th:text="${article.title}"></span>
                <!--文章详情-->
                <div class="blog-tag-data">
                    <div class="row" style="margin-top: 10px;color: #E6400C">
                        <div class="col-md-8">
                            <ul class="list-inline blog-tags">
                                <li>
                                    <i class="fa fa-tags"></i>
                                    <span th:each="tag:${article.tags}">
                                        <a th:text="${tag}"></a>
                                    </span>
                                </li>
                                <li>
                                    <i class="fa fa-calendar"></i>
                                    <span th:text="'发布时间：'+${article.gmtCreate}" style="color: #0C1021"></span>
                                </li>
                                <li>
                                    <i class="fa fa-book"></i>
                                    <span th:text="'阅读数：'+${article.viewCount}" style="color: #0C1021"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <div id="article-view">
                        <textarea style="width: 100%" th:text="${article.context}"></textarea>
                    </div>
                </div>
                <!--点赞 收藏-->
                <div style=" margin-left: 30px;margin-top: 10px;font-size: 16px">
                    <ul class="list-inline blog-tags">
                        <a>
                            <li >
                                <label th:if="${isLike=='false'}"><!--如果读者当时没有给这篇文章点赞-->
                                    <input type="hidden" th:value="${article.aid}" class="aid"/>
                                    <input type="checkbox" class="like"  style="visibility: hidden"    />
                                    <i class="fa fa-thumbs-o-up" id="no-fa-thumb"></i>
                                    <span style="color: #0C1021" th:text="'点赞'+${article.likeCount}"></span>
                                </label>
                                <label th:if="${isLike=='true'}"><!--如果读者已经给这篇文章点过赞-->
                                    <input type="hidden" th:value="${article.aid}" class="aid"/>
                                    <input type="checkbox" class="like"  style="visibility: hidden" checked="checked"/>
                                    <i class="fa fa-thumbs-up" id="yes-fa-thumb"></i>
                                    <span style="color: #0C1021" th:text="'点赞'+${article.likeCount}"></span>
                                </label>
                            </li>
                        </a>

                        <a>
                            <li>
                                <label th:if="${isCollect=='false'}"><!--读者没有收藏当前文章-->
                                    <input type="checkbox" class="collect"  style="visibility: hidden"  />
                                    <i class="fa fa-star-o" id="no-fa-star"></i>
                                    <span  style="color: #0C1021" th:text="'收藏'+${article.collectCount}"></span>
                                </label>
                                <label th:if="${isCollect=='true'}"><!--读者已经收藏当前文章-->
                                    <input type="checkbox" class="collect"  style="visibility: hidden" checked="checked" />
                                    <i class="fa fa-star" id="yes-fa-star"></i>
                                    <span  style="color: #0C1021" th:text="'收藏'+${article.collectCount}"></span>
                                </label>
                            </li>
                        </a>
                    </ul>
                </div>
                <hr>
                <!--作者信息，如果当前文章的作者不是当前浏览者就显示作者信息-->
                <div class="writer" th:if="${isAuthor=='false'}">
                    <div >
                        <span style="font-size: 20px;margin-bottom: 5px" th:text="${creator.petName}"></span>
                        <p th:text="${creator.phoneNumber}"></p>
                    </div>
                    <input type="hidden" th:value="${creator.uid}" id="upId"/>
                    <label class="btn" th:if="${isAttention=='false'}"><!--读者没有关注当前文章的作者时-->
                        <input type="checkbox" class="attention"  style="display: none"  />
                        <i class="fa fa-plus" id="plus"></i>
                        <input type="text" value="关注" style="border: none;width: 50px"id="no-attention"/>
                    </label>
                    <label class="btn" th:if="${isAttention=='true'}"><!--读者已经关注当前文章的作者时-->
                        <input type="checkbox" class="attention"  style="display: none" checked="checked"  />
                        <i class="fa fa-check" id="check"></i>
                        <input type="text" value="已关注" style="border: none;width: 50px"id="yes-attention"/>
                    </label>
                    <label class="btn">
                        <span>私聊</span>
                    </label>
                    <hr/>
                </div>
                <!--评论-->
                <h3 th:text="${article.commentCount}+'个评论'" style="margin-bottom: 20px"></h3>
                <div class="media" th:each="comment:${comments}" style="margin-top: 0px">
                    <a href="javascript:;" class="pull-left">
                        <img alt="" src="/modes/assets/admin/pages/media/blog/9.jpg" class="media-object"
                             style="width: 50px">
                    </a>
                    <div class="media-body" >
                        <h5 class="media-heading" >
                            <span th:text="${comment.commenterName}" style="margin-right: 15px"></span>
                            <span th:text="'回复('+${comment.replayCount}+')'"></span>
                            <span th:text="${comment.gmtCreate}" style="float: right;font-family: 宋体 ; font-size: 10px;color: #9b99a0"></span>
                        </h5>
                        <h4 th:text="${comment.context}">
                        </h4>
                        <hr style="margin-top: 0px"/>
                        <!-- Nested media object -->
                        <!--                        <div class="media">-->
                        <!--                            <a href="javascript:;" class="pull-left">-->
                        <!--                                <img alt="" src="/modes/assets/admin/pages/media/blog/5.jpg" class="media-object"-->
                        <!--                                     style="width: 60px">-->
                        <!--                            </a>-->
                        <!--                            <div class="media-body">-->
                        <!--                                <h4 class="media-heading">Media heading <span>-->
                        <!--                                    17 hours ago / <a href="javascript:;">-->
                        <!--                                    Reply </a>-->
                        <!--                                    </span>-->
                        <!--                                </h4>-->
                        <!--                                <p>-->
                        <!--                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus-->
                        <!--                                    commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
                        <!--                                    Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.-->
                        <!--                                </p>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--end media-->
                        <!--                        <hr>-->
                        <!--                        <div class="media">-->
                        <!--                            <a href="javascript:;" class="pull-left">-->
                        <!--                                <img alt="" src="/modes/assets/admin/pages/media/blog/7.jpg" class="media-object"-->
                        <!--                                     style="width: 60px">-->
                        <!--                            </a>-->
                        <!--                            <div class="media-body">-->
                        <!--                                <h4 class="media-heading">Media heading <span>-->
                        <!--                                    2 days ago / <a href="javascript:;">-->
                        <!--                                    Reply </a>-->
                        <!--                                    </span>-->
                        <!--                                </h4>-->
                        <!--                                <p>-->
                        <!--                                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus-->
                        <!--                                    commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.-->
                        <!--                                    Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.-->
                        <!--                                </p>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--end media-->
                    </div>
                </div>
                <!--我来评论-->
                <div class="post-comment">
                    <h3>我来评论</h3>
                    <form role="form" action="#">
                        <input type="hidden" th:value="${article.aid}" id="pid"/>
                        <div class="form-group">
                            <textarea class="col-md-10 form-control" rows="4" id="context"></textarea>
                        </div>
                        <button class="margin-top-20 btn blue" type="submit" onclick="comment()" style="float: right;background-color: #E6400C;width: 100px">评论</button>
                    </form>
                    <br>
                </div>
                <!--相关文章-->
                <div  >
                    <h3 style="margin-top: 110px;margin-bottom: 20px">相关文章</h3>
                    <a style="color: #3e3e3e;text-decoration:none">
                        <h4>
                            <b><span>清明上河园</span></b>
                            <span style="float: right;font-size: 10px">浏览数：456</span>
                        </h4>
                        <p>我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        <hr>
                    </a>
                    <a style="color: #3e3e3e;text-decoration:none">
                        <h4>
                            <b><span>清明上河园</span></b>
                            <span style="float: right;font-size: 10px">浏览数：456</span>
                        </h4>
                        <p>我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        <hr>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>