<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="style">
    <meta charset="utf-8"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
          rel="stylesheet" type="text/css">
    <link href="/modes/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/modes/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/modes/assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="/modes/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/modes/assets/global/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet">
    <link href="/modes/assets/global/css/components.css" rel="stylesheet">
    <link href="/modes/assets/frontend/layout/css/style.css" rel="stylesheet">
    <link href="/modes/assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
    <link href="/modes/assets/frontend/pages/css/style-layer-slider.css" rel="stylesheet">
    <link href="/modes/assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
    <link href="/modes/assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
    <link href="/modes/assets/frontend/layout/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mycss.css">
    <script src="/modes/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/modes/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/modes/assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();
        });
    </script>
</head>
<body>
<div th:fragment="head">
    <!-- 头部 -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+6 866 686</span></li>
                        <li class="shop-currencies">
                            <a href="javascript:void(0);">$</a>
                            <a href="javascript:void(0);">£</a>
                            <a href="javascript:void(0);" class="current">￥</a>
                        </li>
                        <li class="langs-block">
                            <a href="javascript:void(0);" class="current">中文 </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li th:if="${session.user!=null}"><a href="/publishHtml">发布</a></li>
                        <li th:if="${session.user!=null}"><a th:href="@{'/myUploader/'+${session.user.uid}}">好友圈</a></li>
                        <li th:if="${session.user!=null}"><a th:href="@{'/myself/'+${session.user.uid}}" th:text="${session.user.petName}"></a></li>
                        <li th:if="${session.user==null}"><a href="/loginHtml" th:text="登录"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航 -->
    <div class="header" style="margin-bottom: 1px">
        <div class="container">
            <a class="site-logo" href="/">
                <img src="/imgs/logo.png" alt="Travel strategy" style="width: 170px">
            </a>

            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            <!-- 通知 -->
            <div class="top-cart-block" th:if="${session.user != null}">
                <div class="top-cart-info" style="padding-right: 13px">
                    <a class="top-cart-info-count" th:text="${session.notificationCount}+'个'"></a>
                    <a href="javascript:void(0);" class="top-cart-info-value">通知</a>
                    <i class="fa fa-bell" style="color:rgb(232,77,28)"></i>
                </div>

                <div class="top-cart-content-wrapper">
                    <div class="top-cart-content">
                        <ul class="scroller" style="height: 250px;">
                            <li th:each="notificationDto:${session.notificationDtos}">
                                <span class="cart-content-count" style=" "><a th:href="@{'/myself/'+${notificationDto.notifier}}" th:text="${notificationDto.notifierName}" ></a></span>
                                <span href="shop-item.html" style="display: inline-block;width: 100px" th:text="${notificationDto.type}"></span>
                                <span href="shop-item.html" style="display: inline-block;width: 170px"><a th:href="@{'/read/'+${notificationDto.nid}}" th:text="${notificationDto.articleName}"></a></span>
                            </li>
                        </ul>
                        <div class="text-right">
                            <a href="shop-shopping-cart.html" class="btn btn-default">查看</a>
                            <a href="shop-checkout.html" class="btn btn-primary">退出</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 导航 -->
            <div class="header-navigation">
                <ul>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0001">景点介绍</a>
                    </li>
                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0002">绝味美食</a>
                    </li>
                    <li class="dropdown dropdown100 nav-catalogue">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0003">舒适住宿</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0004">全程路线</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0005">旅游攻略</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0006">寻同行</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/0007">理想远方</a>
                    </li>
                    <li class="menu-search">
                        <span class="sep"></span>
                        <i class="fa fa-search search-btn"></i>
                        <div class="search-box">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="搜索" class="form-control">
                                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">搜索</button>
                                </span>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10">
                    2020 © 海棠工作室. ALL Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>