<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <head th:replace="import::style"></head>
</head>
<body class="ecommerce">

<!--头部-->
<div th:replace="import::head"></div>

<!--登录-->

<div class="main">
    <div class="container" style="margin-bottom: 50px">
        <div class="col-md-12 col-sm-12">
            <form class="form-horizontal form-without-legend" role="form" method="post" action="/reset">
                <div class="form-group">
                    <label for="email" class="col-lg-4 control-label">手机号 <span class="require">*</span></label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="email" name="phoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">密　码 <span class="require">*</span></label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-4 control-label">确认密码 <span class="require">*</span></label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="repassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-offset-4 padding-left-0">
                        <a href="/loginHtml" style="float: right">返回登录 </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-offset-4 padding-left-0 padding-top-20">
                        <button type="submit" class="btn btn-primary" style="width: 150px;margin-left: 100px">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="position: fixed;bottom: 0px;width: 100%;">
    <!--尾部-->
    <div th:replace="import::footer"></div>
</div>


</body>
</html>